:root {
  --primary: rgba(255, 187, 0, 0.918);
  --bg: rgb(11, 08, 49);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
}

.section__container {
  width: 90%;
  margin: auto;
  padding: 5rem 1rem;
  margin-top: 100px;
}

.service__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.service__header__content h2 {
  font-size: 3rem;
}

.service__header__content h2 span {
  color: var(--primary);
}
.service__header__content p {
  max-width: 600px;
  color: var(--primary);
  padding: 2rem 0;
  font-size: 1.5rem;
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.service__card {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.822);
  background-color: var(--primary);
}

.service__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 4rem;
  color: #ffffff;
  background-color: var(--bg);
  border-radius: 100%;
  transition: 0.3s;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;
}
.service__card .service_content {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: start;
  justify-content: flex-start;
  padding: 1rem 1rem;
  line-height: 3rem;
}

.service__card .service_content i {
  color: var(--bg);
}

.service__card a {
  color: var(--primary-color);
}

.service__card a:hover {
  color: var(--primary-color-dark);
}

.service__card:hover span {
  color: var(--bg);
  background-color: #ffffff;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .links a {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
}

/* Read More & Read Less */

.extra {
  display: none;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 2em;
  display: inline;
}
input[type="checkbox"] {
  height: 2em;
  display: block;
  appearance: none;
}
label {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 1em;
  background-color: var(--primary);
  color: var(--bg);
  cursor: pointer;
  border-radius: 0.5em;
}
label:before {
  content: "Selengkapnya";
}
input[type="checkbox"]:checked ~ label:before {
  content: "Kembalikan";
}
.dots:has(~ input[type="checkbox"]:checked) {
  display: none;
}
.extra:has(~ input[type="checkbox"]:checked) {
  display: inline;
}
